@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* ------------hero-section---------- */

.calculator{
    background-color:#D2CEE5;
    border-radius: 5px;
    width: 360px;
    margin: auto;
}
.calculator p{
    margin: 0;
}
.calculator h5{
    text-transform: uppercase;
    background-color: #D40009;
    padding: 8px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight:900;
}
.calculator h6{
    color:  black;
    font-weight:900;
    font-size: 18px;
}
.calculator h4{
    color:  black;
    font-size: 19px;
}
.calculator_card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}
.cal_content{
    background-color:  black;
    border-radius: 5px;
    padding: 3px 8px;
}
.cal-content_2 {
    background-color: #D40009;
    color: black 
}
.calc-input{
    width: 73%;
    height: 40px;
    border-radius: 15px 0px 0px 15px;
    border: 0px;
   background-color: #D40009;
   color: white;
   padding: 8px;
}
.calc-input:focus-visible{
    outline: none;
}
select{
    width: 70%;
    height: 40px;
    margin-left: 30%;
    border:1.6px solid #D00109;
    border-radius: 5px 5px 0px 0px ;
}
::placeholder{
    color: white;
}
.cal_btn{
    width: 35%;
    background-color:  white;
    height: 40px;
    border-radius:5px;
    padding: 8px;
    margin-left: -4%;
}
.cal_btn img{
    width: 35px;
    margin-right: 8px;
}
.cal_btn p{
    font-weight:600;
}
.submit-btn{
    background-color: #D40009;
    color: white;
    width: 100%; 
    height: 40px;
    border-radius: 5px;
    border: 0;
}
